h1,h3{
    color:#b92b27;
}
#login{
    background-color:white;
    color:black;
}
#signup{
    color:#b92b27;
}
*{
    font-family: 'Courier New';
}
h1,h3{
    color:#b92b27;
}
.upvote{
    background-color:green;
    color: white;
}
/* descendant selector */
p>a{
    background-color: yellow;
    color: purple;
}
nav ul li a{
    color:hotpink;
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: #00d2ff;
    
}
div>input{
    background-color:white ;
    color: black;
}
/* attribute selector */
input[type="text"]
{
    color:green;
}
input[type="password"]{
    color:red;
}
input[type]{
    background-color: ghostwhite;
}
button:hover{
    background-color: black;
    color:white;
}
h3:hover{
    text-decoration:none;
}
button:active {
    background-color:hotpink;
    color:black;
}
p:active{
    font-weight: bold;
    color:green;
}
input[type="radio"]:checked+label{
    color:red;
    font-weight: bold;
}
.post:nth-of-type(2){
    background-color: #ffebcd;
}
h1::first-letter{
    color:green;
}
#hello::first-line{
    color:blue;
}
#champ::selection{
    background-color: rgb(221, 221, 14);
}
h3{
    background-color: blue;
}
h3{
    background-color: green;
}
h3::selection{
    background-color: yellow;
}